
<center>
<br><br><br><br><br>
<h2><%= @businesses.count %> Start-Ups </h2>
  <%= link_to "Submit Start-Up Idea", new_business_path, class:"button create_button" %>

<div class="wrapper">
  <% @businesses.each do |biz| %>
  <div class="business_size div_card <%= random_class %>">
      <div class="business_name"><%= link_to biz.name, business_path(biz) %></div><br>
    </div>
  <% end %>
</div>
