

<br><br><br>
  <center><h2><%= @businesses.count %> Start-Ups </h2>
<div class="wrapper"><br>
  <% @businesses.each do |biz| %>
    <h5>  <div class="biz_name"><%= link_to biz.name, business_path(biz) %></div>

    </div>
  <% end %>
  <br>
    <%= link_to "Submit Start-Up Idea", new_business_path, class:"button create_button" %>
</div>

</center>
