<div class="homepage_header">
  <p class="header_top">new biz with good potential? unapologetically & brutally honest new biz reviews.<br>
    <span class="header_bottom">rate my <strong> start-up idea💸</strong></span>

  </p><br>
  <div class="row">
    <div class="button-container">
      <!-- /users/sign_in -->
  <a class="button button-primary" href="  ">Log In</a>
      <!-- /users/sign_up -->
      <a class="button button-primary" href="  ">Sign Up</a>
    </div>
  </div>
</div>
