<div class="homepage_header">
  <p class="header_top">new biz with good potential? unapologetically & brutally honest.<br>
    <span class="header_bottom">rate my
      <span id="everywhere">start-up idea.💸</span>
    </span>
  </p><br>
  <div class="row">
    <div class="button-container">
      <!-- /users/sign_in -->
  <a class="button button-primary" href="  ">Log In</a>
      <!-- /users/sign_up -->
      <a class="button button-primary" href="  ">Sign Up</a>
    </div>
  </div>
</div>
