body#home_body {
 background-image: url(.jpg);
 // background-color: #e7e7e7;
 background-size: cover;


 // text-shadow: 3px 2px 0px #000, 5px 5px 0px rgba(0,0,0,0.15);


   // background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;
}


nav#home_nav {
  background-image: none;
   background-color: #e9eaec;
   box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
}

div.homepage_header {
  position: absolute;
  top: 40%;
  left: 30%;
}

.header_top {
  text-align: center;
  font-size: 1em;
  color: black;
  // background-color: white;
  font-shadow: 5px 3px 5px 0 rgba(0, 0, 0, 0.26);
}

.header_bottom {
  text-align: center;
  font-size: 4em;
    // background-color: white;

  }

.homepage_header a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 3px 18px;
  position: absolute;
  left: 40%;
}

#everywhere {
  font-weight: bold;
}
